<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {%load static%}
    <link rel='stylesheet' type='text/css' href="{% static 'polls/style.css'%}">
    <script>
        function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
    </script>
</head>
<body>
    <div class="title">
        <h1>Mapping Corona</h1>
        <h2>(COVID-19)</h2>
    </div>
    <nav class="header">
        <ul>
            <li><a href="/polls/main/">메인</a></li>
            <li><a href="/polls/regions/">국내 지역별 현황</a></li>
            <li><a href="/polls/nations/">해외 현황</a></li>
            <li><a href="/polls/departure/">출입국 현황</a></li>
        </ul>
    </nav>
    <div class="banner">
        {%if World_daily_data%}
            <nav class="departure">
                <ul>
                    <li><a href="#today">{{today_date}}</a></li>
                    <li><a href="#yesterday">{{yesterday_date}}</a></li>
                    <li><a href="#b_yesterday">{{b_yesterday_date}}</a></li>
                </ul>
            </nav>
            <div id="today">
                <h3>{{today_date}}</h3>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Country" title="Type in a name">
                <table id="myTable" class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">국가</th>
                        <th scope="col">날짜</th>
                        <th scope="col">전체 확진자 수</th>
                        <th scope="col">전날대비 증감(확진자)</th>
                        <th scope="col">전체 사망자 수</th>
                        <th scope="col">전날대비 증감(사망자)</th>
                        <th scope="col">사망률</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for daily_data in World_daily_data%}
                            {%if daily_data.world_today_date == today_date%}
                                <tr>
                                    <td scope="row">{{daily_data.world_country}}</th>
                                    <td>{{daily_data.world_today_date}}</td>
                                    <td>{{daily_data.world_total_confirmed}}</td>
                                    <td>{{daily_data.world_new_cases}}</td>
                                    <td>{{daily_data.world_total_death}}</td>
                                    <td>{{daily_data.world_new_death}}</td>
                                    <td>{{daily_data.world_deaths_rate}}</td>
                                </tr>
                            {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div id="yesterday">
                <h3>{{yesterday_date}}</h3>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Country" title="Type in a name">
                <table id="myTable" class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">국가</th>
                        <th scope="col">날짜</th>
                        <th scope="col">전체 확진자 수</th>
                        <th scope="col">전날대비 증감(확진자)</th>
                        <th scope="col">전체 사망자 수</th>
                        <th scope="col">전날대비 증감(사망자)</th>
                        <th scope="col">사망률</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for daily_data in World_daily_data%}
                            {%if daily_data.world_today_date == yesterday_date%}
                            <tr>
                                <td scope="row">{{daily_data.world_country}}</th>
                                <td>{{daily_data.world_today_date}}</td>
                                <td>{{daily_data.world_total_confirmed}}</td>
                                <td>{{daily_data.world_new_cases}}</td>
                                <td>{{daily_data.world_total_death}}</td>
                                <td>{{daily_data.world_new_death}}</td>
                                <td>{{daily_data.world_deaths_rate}}</td>
                            </tr>
                            {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div id="b_yesterday">
                <h3>{{b_yesterday_date}}</h3>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Country" title="Type in a name">
                <table id="myTable" class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">국가</th>
                        <th scope="col">날짜</th>
                        <th scope="col">전체 확진자 수</th>
                        <th scope="col">전날대비 증감(확진자)</th>
                        <th scope="col">전체 사망자 수</th>
                        <th scope="col">전날대비 증감(사망자)</th>
                        <th scope="col">사망률</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for daily_data in World_daily_data%}
                            {%if daily_data.world_today_date == b_yesterday_date%}
                            <tr>
                                <td scope="row">{{daily_data.world_country}}</th>
                                <td>{{daily_data.world_today_date}}</td>
                                <td>{{daily_data.world_total_confirmed}}</td>
                                <td>{{daily_data.world_new_cases}}</td>
                                <td>{{daily_data.world_total_death}}</td>
                                <td>{{daily_data.world_new_death}}</td>
                                <td>{{daily_data.world_deaths_rate}}</td>
                            </tr>
                            {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        {%endif%}
    </div>
</body>
<footer>
    <p>개발진: 이진원, 이진서, 김주희, 김강민</p>
    <p>소속: 충북대학교</p>
    <p>충청북도 청주시 서원구 충대로 1</p>
</footer>