<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {%load static%}
    <link rel='stylesheet' type='text/css' href="{% static 'polls/style.css'%}">
</head>
<body>
    <div class="title">
        <h1>출입국 허가</h1>
        <h2>(COVID-19)</h2>
    </div>
    <nav class="header">
        <ul>
            <li><a href="/polls/main/">메인</a></li>
            <li><a href="/polls/regions/">국내 지역별 현황</a></li>
            <li><a href="/polls/nations/">해외 현황</a></li>
            <li><a href="/polls/departure/">출입국 현황</a></li>
        </ul>
    </nav>
    <div class="banner">
        <div>
            <h3>{{today_date}}</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">지역</th>
                    <th scope="col">전체 확진자 수</th>
                    <th scope="col">전체 사망자 수</th>
                    <th scope="col">전날대비 증감(확진자)</th>
                </tr>
                </thead>
                <tbody>
                    {%for daily_data in today_list%}
                        <tr>
                            <th scope="row">{{daily_data.kr_region}}</th>
                            <td>{{daily_data.kr_confirmed}}</td>
                            <td>{{daily_data.kr_death}}</td>
                            <td class="today">{{daily_data.kr_released}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div>
            <h3>{{yesterday_date}}</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">지역</th>
                    <th scope="col">전체 확진자 수</th>
                    <th scope="col">전체 사망자 수</th>
                    <th scope="col">치료중</th>
                </tr>
                </thead>
                <tbody>
                    {%for daily_data in yesterday_list%}
                        <tr>
                            <th scope="row">{{daily_data.kr_region}}</th>
                            <td>{{daily_data.kr_confirmed}}</td>
                            <td>{{daily_data.kr_death}}</td>
                            <td>{{daily_data.kr_released}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>